body {
  background-color: #DAA520;
}

button {
  width: 25px;
}

h1 {
  color: #4B0082;
}

p {
  font-size: 26pt;
}

table {
  border-collapse: collapse;
  background-color: #B0E0E6;
}

td, th {
  border: 1px solid red;
}